<header class="m-3">
  <h1>Mantenimiento Cliente</h1>

</header>

<mat-tab-group [selectedIndex]="clienteService.selectedIndex" mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Datos Generales">
    <app-cliente-nuevo></app-cliente-nuevo>
  </mat-tab>

  <mat-tab label="Aval">
    <app-aval></app-aval>
  </mat-tab>

  <mat-tab label="Garantias">
    <app-garantias></app-garantias>
  </mat-tab>

  <mat-tab label="Documentación">
    <app-documentacion></app-documentacion>
  </mat-tab>

  <mat-tab label="Credito">
    <app-credito></app-credito>
  </mat-tab>

  <mat-tab label="Calcular cuota">
    <app-calculo-cuota></app-calculo-cuota>
  </mat-tab>
</mat-tab-group>
