<form class="bg-white w-lg-75 p-3 mx-auto mt-3" [formGroup]="clienteService.formularioCliente">
  <div class="mb-3">
    <label for="producto" class="form-label">Producto</label>
    <input
      type="text"
      formControlName="producto"
      id="producto"
      class="form-control"
    >

  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <label for="periodicidad" class="form-label">Periodicidad</label>

        <select
          id="periodicidad"
          class="form-select"
          aria-label="Select periodicidad"
          formControlName="periodicidad"
          [class]="vs.campoObligatorio('periodicidad', clienteService.formularioCliente) ? 'border border-danger' : ''"
        >
          <option selected disabled value="">--Seleccione--</option>
          <option value="diario">Diario</option>
          <option value="semanal">Semanal</option>
          <option value="mensual">Mensual</option>
        </select>
        
      </div>
    </div>

    <div class="col-md-6">
      <div class="mb-3">
        <label for="monto" class="form-label">Monto Solicitado</label>

        <input
          type="text"
          formControlName="monto"
          id="monto"
          class="form-control"
          placeholder="Ingrese el monto"
          [class]="vs.campoObligatorio('monto', clienteService.formularioCliente) ? 'border border-danger' : ''"
        >

        <span class="text-danger fw-bold" *ngIf="vs.validarPattern(clienteService.formularioCliente, 'monto')">
          No se permiten letras
        </span>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <label for="plazo" class="form-label">Plazo (Meses)</label>

        <input
          type="number"
          formControlName="plazo"
          id="plazo"
          class="form-control"
          placeholder="Ej: 2,3,4,6"
          (input)="calcNumCuotas($event)"
          [class]="vs.campoObligatorio('plazo', clienteService.formularioCliente) ? 'border border-danger' : ''"
        >
        <span class="text-danger fw-bold" *ngIf="vs.validarPattern(clienteService.formularioCliente, 'plazo')">
          No se permiten letras
        </span>
      </div>
    </div>

    <div class="col-md-6">
      <div class="mb-3">
        <label for="numeroCuotas" class="form-label">Numero de cuotas</label>

        <input
          type="text"
          formControlName="numeroCuotas"
          id="numeroCuotas"
          class="form-control"
          placeholder="Numero de cuotas"
        >
      </div>
    </div>

  </div>

  <div class="d-flex justify-content-between mt-5">
    <div>
      <button
        type="button"
        class="btn btn-success"
        (click)="clienteService.selectTab(3)"
      >
        {{'<'}}
      </button>
    </div>
  
    <div>
      <button
        type="button"
        class="btn btn-success"
        (click)="validarForm()"
      >
        {{'>'}}
      </button>
    </div>
   </div>

</form>

